/* style.css */
h1{
    font-family: "Germania One", system-ui;
    font-size: 70px;
    text-align: center;
    color:white;
    background-image: url(https://i.pinimg.com/originals/d1/37/7a/d1377a9791550bb754562802430707da.jpg);
    background-size: cover;
    text-shadow: -2px -2px 0 black,
    2px -2px 0 black,
    -2px 2px 0 black,
    2px 2px 0 black;
}
.paragrafo-inicial{
    text-align: center;
}
a{
    margin: 40px;
    white-space: nowrap;
}

figcaption{
    text-align: center;
}
iframe{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}
img{
    display: block;
    margin:auto;
    border: 2px black;
    max-width: 100%;
}

body{
    font-family: "Germania One", system-ui;
    font-size: 20px;
    margin: 30px;
    padding: 0;
    height: 100%;
    background-image: url(https://img.freepik.com/premium-photo/old-grunge-parchment-paper-texture-background_118047-9289.jpg?w=360);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
